spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://svc.sel5.cloudtype.app:30211/icheck
    username: 'root'
    password: '1234'
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  logging:
    level:
      org:
        hibernate:
          type:
            descriptor:
              sql: trace


# JWT
jwt:
  secret: YOUR_SECRET_KEY
  access-expired: 86400

